@model Category
<html>
<body>
    <form asp-controller="Categories" asp-action="Create" method="post">
        <input asp-for="Name" /><br />
        <input type="submit" value="Add" />
    </form>
</body>
</html>